<style>
body {
  font-family: "Lato", sans-serif;
  overflow-y:  scroll;
  overflow-x : auto;
}


h1{
  color: red;
  border-style: solid;
  border-width: 5px;
}


.border {
  display: flex;
  background-color: pink;
  text-align: center;
}


.border < div{
  background-color: pink;
  width: 110px;
  margin: 10px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  left: 130;
}


.sidebar {
  height: 80%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 150;
  left: 130;
  background-color: grey;
  overflow-x: hidden;
}


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
}


.sidebar a:hover {
  color: blue;
}


.main {
  margin-left: 160px;   
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


img {
  border-radius: 50%;
}


.body{
  height: 80%;
  width: 1000px;
  position: fixed;
  z-index: 1;
  top: 140;
  left: 500;
  background-color: white;
  overflow-x: hidden;
}


.column1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}


.column1 > div {
  background-color: white;
  width: 300px;
  margin: 10px;
  text-align: left;
  line-height: 30px;
  font-size: 17px;
}


.column2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}


.column2 > div {
  background-color: white;
  width: 300px;
  margin: 10px;
  text-align: left;
  line-height: 30px;
  font-size: 17px;
}


.column3 {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}


.column3 > div {
  background-color: white;
  width: 300px;
  margin: 10px;
  text-align: left;
  line-height: 30px;
  font-size: 17px;
}


.icon {
  display: flex;
  flex-wrap: nowrap;
  background-color: grey;
}


.icon > div {
  background-color: grey;
  width: 300px;
  margin: 10px;
  text-align: left;
  line-height: 30px;
  font-size: 17px;
}

</style>